.s4-card-container{
    height: 220px;
    min-height: 220px;
    max-height: 220px;
    overflow: hidden;
    @include noScrollbar();
    margin-top:5px;
}
.s4-card{
    width: 325px;
    height: 175px;
    min-height: 175px;
    max-height: 175px;
    pointer-events: auto;
    background-color: $bg;
    color: $on-bg;
    border: 1px solid transparent;
    &.hovered {
        border: 1px solid $primary;

    }
    &.selected {
        border: 1px solid $primary;
        background-color: $secondary;
        color: $on-secondary;
    }
}