
.nav{
    height: 56px;
    min-height: 56px;
    max-height: 56px;
    width: 100vw;
    background: $yellow;
    color: $primary-d;
}
.layout-container {
    width: 100vw;
    height: 100%; 
    width: 100vw;
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
    pointer-events: none;
    // top: 80px;
    // bottom: 0;
    height: $height !important;



    .left-panel,
    .center-panel {
        top: 0;
        bottom: 0;
        margin: 5px;
        margin-bottom: 0px;
        position: absolute;
        transition: all 300ms $easing-in-out-sin;
    }
    .left-panel {
        width: $sidePanelWidth;
        border-radius: $border-radius;
        background: $bg;
    }
    .center-panel {
        overflow: hidden;
        pointer-events: none;
        .map-controls, .bottom-panel {
            position: absolute;
            width: 100%;
            transition: all 300ms $easing-in-out-sin;
        }
        .map-controls {
            top: 0;
            pointer-events: none;
        }
        .bottom-panel {
            background: $light-l;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            pointer-events: auto;
        }
    }
    .active-none {
        .left-panel {
            left: -430px;
        }

        .center-panel {
            left: 0;
            width: $layoutWidth;
            .map-controls {
                bottom: 0;
            }
            .bottom-panel{
                bottom: -235px;
            }
        }
    }

    .active-left {
        .left-panel {
            left: 0;
        }

        .center-panel {
            left: 430px;
            width: $layoutWidthOnePanel;
            .map-controls {
                bottom: 0;
            }
            .bottom-panel{
                bottom: -235px;
            }
        }


    }


    .active-both {
        .left-panel {
            left: 0;
        }

        .center-panel {
            left: 430px;
            width: $layoutWidthOnePanel;
            .map-controls {
                bottom: 231px;
            }
            .bottom-panel{
                height: 226px;
                bottom: -1px;
            }
        }

    }
    .active-bottom {
        .left-panel {
            left: -430px;
        }

        .center-panel {
            left: 0;
            width: $layoutWidth;
            .map-controls {
                bottom: 231px;
            }
            .bottom-panel{
                height: 226px;
                bottom: -1px;
            }
        }
    }
}
